body {
  align-items: center;
  background-color: #007820;
  background-image: url("https://www.transparenttextures.com/patterns/felt.png");
  display: flex;
  flex-direction: column;
}

header {
  margin: 2rem auto 1rem auto;
}

main {
  width: 85%;
}
